.carousel-img {
    position: relative;
    overflow: hidden;
    border: 0.5px solid rgb(233, 233, 233);
  }

  .carousel-img img {
    max-width: 100%;
    display: block;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .carousel-img:hover img {
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    /* background-color: black; */
  }
  
  .carousel-img:hover .overlay {
    opacity: 1;
  }


  .learn-more {
    color: teal;
    font-size: 12px !important;
    position: absolute;
    font-weight: 400;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 2px;
  }

  .learn-more:hover {
    cursor: pointer;
    background: teal;
    color: white;
  }