.portfolio-header {
    text-align: center;
}

.portfolio-grid {
    margin-top: 75px;
    height: calc(100vh - 290px);

}

#kinda-neat {
    margin-top: 25px;
    text-align: center;
    /* width: 35%;
    height: 35%; */
    /* margin-bottom: -40px; */
}

#kinda-neat img {
    box-shadow: 0px 4px 8px -1px black;
}

.CustomTabs-tabLabelContainer-301 span {
    margin: 0 auto;
    text-align: center;
}

#kinda-neat h3 {
    line-height: 1;
}

@media only screen and (max-width: 1200px) {
    .carousel-img{
       height: 150px;
    }
    .carousel-img img{
        min-height: 100%;
    }
    .portfolio-grid {
        height: auto;
    }

}

@media only screen and (max-width: 994px) {
    .MuiGrid-container-184 div,
    .overlay {
        display: block;
    }

    .fullstack-card-front,
    .frontend-card-front,
    .xxl-card-front,
    .mobile-card-front {
        width: 75%;
        display: block !important;
        margin: 0 auto;
    }

    .carousel-img {
        min-height: 275px;
        margin-bottom: 0px;
    }

    .carousel-img img{
        min-height: 100%;
    }

    .portfolio-header {
        margin-top: -50px;
    }

    .portfolio-grid {
        height: auto;
    }

    .fullstack-card-front {
        margin-bottom: -75px;
    }
}

@media only screen and (max-width: 960px) {
    .portfolio-header {
        margin-top: -50px;
    }
    .portfolio-grid {
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    .carousel-img,
    .kindaneat-img {
        min-height: 200px;
        margin-bottom: 0px;
    }

    .carousel-img img{
        min-height: 100%;
    }
}

@media only screen and (max-width: 568px) {
    .carousel-img,
    .kindaneat-img {
        min-height: 150px;
        margin-bottom: 0px;
    }

    .carousel-img img{
        min-height: 100%;
    }
}