.kindaneat-img {
    position: relative;
    overflow: hidden;
    width: 350px !important;
    height: 350px !important;
  }
  .kindaneat-img img {
    /* max-width: 100%; */
    width: 350px !important;
    height: 350px !important;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .kindaneat-img:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .kindaneat-img {
    position: relative;
    margin-bottom: -50px;
    width: 50%;
    height: auto;
    margin: 0 auto;
  }

  #kinda-neat-stats {
    margin-top: -40px;
  }
 
  #kinda-neat-stats h5 {
    line-height: 1 !important;
  }
  
  .kindaneat-img img {
    display: block; 
    width: 100%; 
    height: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }
  
  .kindaneat-img:hover .overlay {
    opacity: 1;
  }


  .learn-more {
    /* color: teal; */
    color:rgb(54,126,127);
    font-size: 24px;
    position: absolute;
    font-weight: 400;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    /* border: 1px solid teal; */
    border: 1px solid rgb(54,126,127);
    padding: 5px 30px;
    text-transform: uppercase;
    font-size: 20px;
  }

  .learn-more:hover {
    cursor: pointer;
  }

  #kinda-neat-socials {
    margin-top: 10px;
  }


  @media only screen and (max-width: 960px) {
    #kinda-neat-socials li::after {
      background: none;
    }
    #kinda-neat-socials i{
        margin: 0 auto;
        text-align: center;
    }

}

@media only screen and (max-width: 500px) {
  .kindaneat-img,
  .kindaneat-img img {
    height: 200px !important;
    width: 200px !important;
  }

}