#main-header h1 {
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
}


@media only screen and (max-width: 992px) {
    #main-header h1 {
        margin-top: 10px;
        font-size: 28px;
    }
    #main-header h3 {
        /* font-size: 14px; */
        margin-top: 0px;
        display: none;
    }

    .Parallax-parallax-180 {
        height: 50vh !important;
    }

}

@media only screen and (max-width: 680px) {
    #main-header h1 {
        font-size: 20px;
        /* margin-top: 7px; */
    }
    #main-header h3 {
        display: none;
    }

}



