header h1 {
    font-family: 'Dosis', sans-serif;
}


.hide-name {
    visibility: hidden;
}



@media only screen and (max-width: 992px) {
    .header-name{
        margin-top: 5px !important;
        font-size: 28px !important;
    }
    .header-subtitle {
        font-size: 14px;
        margin-top: 0px;
        display: none;
        /* border: 1px solid red; */
    }

    .Parallax-parallax-180,
    .parallax {
        height: 50vh !important;
    }
    

}

@media only screen and (max-width: 680px) {
    .header-name {
        font-size: 20px;
        margin-top: 7px;
    }
    /* #main-header h3 {
        display: none;
    } */

}

