#contact-div {
    height: calc(100vh - 200px);
    clear: "both";
    overflow: hidden;
    text-align: center;
}

#contact-header {
    text-align: center;
}

.ContactSocials-list-419 {
    margin: 0 auto;

    text-align: center;
}

#contact-email {
    font-size: 18px;
}