.about-grid {
    /* margin-top: 100px; */
    height: calc(100vh);
    /* margin-bottom: -450px; */
    /* border: 1px solid red; */
    overflow: auto;
}

.about-header {
    text-align: center;
    /* margin-bottom: -50px; */
}

/* #about-body {
    margin-bottom: 50px;
} */
p a {
    color: teal;
}

p a:hover {
    color: teal;
}


@media screen and (max-width: 967px) {
    #skills-div {
        margin-top: 0;
    }

    .about-grid {
        height: auto;
    }
}

@media screen and (min-width: 400px) {
    #skills-div {
        margin-top: auto;
    }

    
}