footer a:hover {
    color: teal;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .Footer-footer-443 {
        clear: both;
    }
    .footer-left {
        float: none !important;
    }
    
    .footer-right{
        float: none !important;
    }   
}
