footer a:hover {
    color: teal;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .Footer-footer-443 {
        clear: both;
    }
    .classOne.classTwo {
        float: none !important;
    }
    
    .Footer-right-442{
        float: none !important;
    }   
}
/* 
@media only screen and (min-width: 768px) {
    .Footer-left-441 {
        float: left !important;
        border: 1px solid red;
    }
    
    .Footer-right-442{
        float: right !important;
    } 
} */